<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 核心配置文件 -->
<mapper namespace="com.cc.dao.MemberMapper">
    
    <insert id="addMember" parameterType="Member">
        insert into member(id,nickname,phoneNum,email) values (#{id},#{nickname},#{phoneNum},#{email})
    </insert>

    <select id="queryMemberIF" parameterType="map" resultType="Member">
        select * from member where 1=1
        <if test="nickname != null">
            and nickname = #{nickname}
        </if>
        <if test="email != null">
            and email = #{email}
        </if>
    </select>

</mapper>