<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 核心配置文件 -->
<mapper namespace="com.cc.dao.MemberMapper">
    
    <insert id="addMember" parameterType="Member">
        insert into member(id,nickname,phoneNum,email) values (#{id},#{nickname},#{phoneNum},#{email})
    </insert>

    <sql id="if-nickname-email">
        <if test="nickname != null">
            nickname = #{nickname}
        </if>
        <if test="email != null">
            and email = #{email}
        </if>
    </sql>

    <select id="queryMemberIF" parameterType="map" resultType="Member">
        select * from member
        <where>
            <include refid="if-nickname-email"></include>
        </where>
    </select>

    <select id="queryMemberChoose" parameterType="map" resultType="Member">
        select * from member
        <where>
            <choose>
                <when test="nickname != null">
                    nickname = #{nickname}
                </when>
                <when test="email != null">
                    and email = #{email}
                </when>
                <otherwise>
                    and id = #{id}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="queryMemberForeach" parameterType="map" resultType="Member">
        select * from member
        <where>
            <foreach collection="ids" item="id" open="and (" close=")" separator="or">
                mid = #{id}
            </foreach>
        </where>
    </select>

</mapper>